
<div class="da-wrapper w3-center">

  <div class="da-content-wrapper">

      <h2 class="w3-display-container w3-display-top w3-theme-d3">
    
        <span class   = "da-clickable fa fa-chevron-left w3-display-left w3-margin-bottom w3-padding"
              (click) = "router.navigate(['dragons'])"
        ></span>

        Não encontramos

      </h2>

      <div>
        Opa, não conseguimos encontra isso.
        <br/>
        Pressione voltar para ir para a lista de dragões.
      </div>

  </div>

</div>