<div class="modal" [ngClass]="{'show':show}" (click)="onClose()">
  <label class="modal-bg"></label>
  <div class="modal-inner">
    <label class="modal-close"></label>
    <h2>Caaaats FTW!</h2>
    <p><img src="https://i.imgur.com/HnrkBwB.gif" alt="" />Aliquam in sagittis nulla. Curabitur euismod diam eget risus
      venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel
      mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam
      fringilla quis nisi eget imperdiet.</p>
  </div>
</div>