.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
    .modal-inner{
      top: 0;
    }
  }
  .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  .modal-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
    .modal-close {
      position: absolute;
      right: 1em;
      top: 1em;
      width: 1.1em;
      height: 1.1em;
      cursor: pointer;
      &:before,
      &after{
        content: '';
        position: absolute;
        width: 2px;
        height: 1.5em;
        background: #ccc;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 0;
      }
      &:hover:after,
      &:hover:before {
        background: #aaa;
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .modal-inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
