.NewDragon {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border: solid 1px #c441b7;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.saveButton {
    color: #c441b7;
    cursor: pointer;
}

.saveButton:hover {
    color: #fff;
}