:root {
  --color-text: #030300;
  --color-heartbeat: #a80000;
  --color-track-and-field: #d81818;
  --color-lightning-yellow: #f0a830;
  --color-dull-yellow: #f0d860;
  --color-turkish-stone: #78a667;
  --color-turkish-stone-b: #426838;
  --color-legion-blue: #184860;
  --color-legion-blue-b: #0e2937;
  --color-gray-light: #f0f0f0;
  --color-gray-medium: #e0e0e0;
  --color-gray-dark: #b0b0b0;
}
