@import 'styles/variables';

.home {
  width: 100%;
  height: 100%;
  position: absolute;

  &__content {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: $mobile-large) {
  .home .home__content {
    height: 85%;
  }
}
