$background-color: #C89AFF;
$frame-color: #7800B3;
$success-button:#CF4FF1;
$frame-text-color: #c781ea;
$text-black: rgb(44, 44, 44);
$border-radius: .5rem;
$padding-input: .75rem;

$table-padding: .5rem;
$table-border: #9e3fce